{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/components/cards.css' %}">
<link rel="stylesheet" href="{% static 'css/components/forms.css' %}">
{% endblock %}

{% block title %}My Account{% endblock %}
{% block heading %} Hello, {{ customer.username }}! {% endblock %}

{% block content %}
<div class="card">
    <div class="card-header">
        <h2>Account Details</h2>
    </div>

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li class="{{ message.tags }}">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% block auth_content %}{% endblock %}

    <div class="card-footer">
        <a href="{% url 'accounts:logout' %}" class="btn btn-danger">Log Out</a>
        {% block extra_buttons %}{% endblock %}
    </div>
</div>
{% endblock %}